.footer
  margin: 6em auto 0
  text-align: center
  font-size: 87.5%
  max-width: 36em

  @media $mobile
    &
      margin-top: 3em

  &:before
    content: '❧'
    color: #212121
    font-size: 2.5em
    text-shadow: 0 1px 1px rgba(255, 255, 255, .5)

  &-share_love
    padding: 1em 0 2em

  #vk_like
    display: inline
