input
  font-size: 1em
  padding: 4px 6px
  font-family: $lucida

  &.placeholder
    color: #666

.btn, .btn:visited, .btn:hover
  display: inline-block
  -moz-appearance: none
  -webkit-appearance: none
  appearance: none
  font-size: 125%
  font-weight: 300
  border: none
  color: #fff
  background: $stripe-color-blue
  padding: .5em 1em .55em
  border-radius: 6px
  transition: background 0.4s
  cursor: pointer
  zoom: 1
  text-decoration: none

.btn
  &:hover
    cursor: pointer
    background: lighten($stripe-color-blue, 10%)

  &:active
    background: darken($stripe-color-blue, 10%)

  // ie8
  &[disabled]
    cursor: not-allowed
    background: lighten($stripe-color-blue, 65%)

  &:disabled, &.disabled
    cursor: not-allowed
    background: lighten($stripe-color-blue, 65%)

.order-form
  overflow: hidden

  .notice
    width: 47%
    float: left

  .price
    background: #fefef0
    padding: 1px 2px 2px
    border-radius: 3px

  h2
    margin-bottom: 1em

  form
    width: 50%
    float: right

    div
      margin: 0 0 1em

    input[type="text"]
      box-sizing: border-box
      width: 100%

    .help-text
      display: block
      font-size: 12px
      line-height: 16px
      color: lighten($text-color, 10%)

    .submits
      padding: .5em 0 0
      text-align: right

