.gallery
  nolist()
  margin: 0 -5px
  overflow: hidden

  li
    max-width: 33%
    float: left
    box-sizing: border-box
    margin: 0

  a
    display: block
    padding: 5px

  img
    display: block
    max-width: 100%

  li:first-child, li:first-child + li
    max-width: 50%

  &--short
    li:first-child, li:first-child+li
      max-width: 33%
