@media (max-width: 900px)
  .order-form
    .notice, form
      float: none
      width: auto
      max-width: 540px
      margin: 0 auto

  .payment-and-delivery, .made-personally, .made-with-love
    max-width: 540px

@media (max-width: 767px)
  body
    font-size: 14px

  .general-container
    padding-top: 3em
    padding-bottom: 4em

  .made-personally__contents, .made-with-love__contents
    font-size: 1em

  #topnav
    .tiny-primary-btn
      margin: 4px 0 3px

@media (max-width: 600px)
  .welcome-brand
    border: none
    width: auto

  #topnav
    .tiny-primary-btn
      border-radius: 0
      border-width: 0
      padding: 0
      margin: 0
      line-height: 36px
      text-decoration: underline

@media (max-width: 480px)
  body
    padding-bottom: 1em

  .welcome-brand
    border: none
    font-size: 87.5%

    h2
      font-size: 2.5em

    .scroll-more
      display: none

  #topnav
    height: 28px

    .logo img
      width: 34px
      height: 24px

    .tiny-primary-btn
      line-height: 28px

  #footer
    margin-top: 3em
