@media $low-desktop
  .payment-and-delivery, .made-personally, .made-with-love
    max-width: 540px

@media $tablet
  body
    font-size: 14px

  .made-personally__contents, .made-with-love__contents
    font-size: 1em

@media $ereader
  .welcome-brand
    border: none
    width: auto

@media $mobile
  body
    padding-bottom: 1em

  .welcome-brand
    border: none
    font-size: 87.5%

    h2
      font-size: 2.5em

    .scroll-more
      display: none
