@media $low-desktop
  .payment-and-delivery, .made-personally, .made-with-love
    max-width: 540px

@media $tablet
  body
    font-size: 14px

  .made-personally__contents, .made-with-love__contents
    font-size: 1em

@media $mobile
  body
    padding-bottom: 1em
