.welcome
  background-color: #d6cab7
  background-size: cover
  background-position: center center
  overflow: hidden

.welcome-scroll_more
   display: none
   position: absolute
   bottom: -40px
   left: 50%
   margin-left: -8px
   height: 16px
   width: 16px
   border: 3px solid rgba(255, 255, 255, .45)
   border-width: 0 0 3px 3px
   transform: rotate(-45deg)
   transition: border-color, 0.4s

   &:hover
     cursor: pointer
     border-color: rgba(255, 255, 255, .9)

   .cover-image-is-too-high &
     display: block

.welcome-brand
  position: relative
  width: 460px
  margin: 15% auto 0
  padding: 2.5em 2em
  text-align: center
  color: $light-text-color
  border: 6px solid $light-text-color

  h2
    margin: 0 0 1em
    font: normal normal 3.5em/1 $serif
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .2)

  @media $ereader
    &
      border: none
      width: auto

  @media $mobile
    &
      border: none
      font-size: 87.5%

      h2
        font-size: 2.5em

  p
    position: relative
    margin: 0 auto
    max-width: 30em
    font-size: 1.125em

    &:before
      display: block
      content: ''
      position: absolute
      top: -28px
      left: 50%
      width: 50px
      margin-left: -25px
      border: 2px solid $light-text-color
