<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>shkshk.ru assets</title>
  <link rel="stylesheet" href="/assets/application.css" />
</head>
<body>
  <div class="container">
    <h1>Header level 1</h1>
    <h2>Header level 2</h2>
    <h3>Header level 3</h3>
    <h4>Header level 4</h4>
  </div>

  <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam sequi a provident laboriosam deleniti culpa amet voluptates odio, unde illo id tempore, veritatis magnam maiores ab! Corporis at, doloremque est.</p>

    <ul>
      <li>one</li>
      <li>two</li>
      <li>three</li>
    </ul>

    <ol>
      <li>one</li>
      <li>two</li>
      <li>three</li>
    </ol>
    <p>
      <a href="/">Here are</a> even <a href="http:/nonexistent.com">some links</a>.
    </p>
  </div>

  <div class="container">
    <h2>Оплата и доставка</h2>
    <p>
      Если вы проживаете не в Курске и не собираетесь сюда переезжать,
      то мы пришлем вам чехол первым классом почтой России после предоплаты.
      Естественно, расходы на пересылку мы берем на себя.
    </p>

    <p>
      В любом случае, мы с вами свяжемся и найдем удобный способ оплаты и доставки.
    </p>
  </div>

  <div class="footer">
    <p class="footer-contact_us">
      contact us
    </p>

    <p class="footer-share_love">
      share love
    </p>
  </div>
</body>
</html>
