html
  overflow-y: scroll

body
  color: $text-color
  background: $body-bg-color
  font: normal normal 100%/1.5625 $sans
  font-weight: 500
  font-stretch: normal
  -webkit-text-size-adjust: none

a:link
  color: $link-color
  text-decoration: none

a:visited
  color: $link-visited-color

a:hover, a:active
  color: $link-hover-color
  text-decoration: none
